@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --bg-color: #edf2ff;
  --text-color: #121113;
  --text-color-footer: #d4d4d4;
}

body.dark {
  --bg-color: #121113;
  --text-color: #ffffff;
}

body {
  font-family: 'fira code';
  background: var(--bg-color);
  color: var(--text-color);
}

@keyframes opacity {
  0% {
    opacity: 0%;
  }
}

.box {
  display: flex;
  align-items: center;
  gap: 2px;
}

.box h1::after {
  content: "_";
  animation: opacity 1.5s steps(2) infinite;
}

a {
  color: var(--text-color);
  transition: all 0.5s;
  cursor: pointer;
}
 
a:hover {
  color: rgba(145, 144, 144, 0.411);
  opacity: 1.5s;
}
