* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --bg-color: #edf2ff;
  --text-color: #121113;
  --text-color-footer: #d4d4d4;
}

body.dark {
  --bg-color: #121113;
  --text-color: #ffffff;
}

body {
  font-family: monospace;
  background: var(--bg-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

div.nav a {
  color: white;
  text-decoration: none;
  transition: all 0.5s;
}

div.nav a:hover {
  color: rgb(155, 155, 155);
  opacity: 1.5s;
}

h1 {
  font-size: 42px;
  margin-bottom: 36px;
}

span {
  display: flex;
  justify-content: center;
}

li {
  display: flex;
  justify-content: center;
}

ul {
  margin: 10px;
}

p {
  display: flex;
  align-items: center;
}

@keyframes opacity {
  0% {
    opacity: 0%;
  }
}

.box {
  display: flex;
  align-items: center;
  gap: 2px;
}

.box h1::after {
  content: "_";
  animation: opacity 1.5s steps(2) infinite;
}

svg {
  height: 28px;
  width: 28px;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}

svg.email {
  height: 16px;
  align-items: center;
}

svg:hover {
  color: rgb(155, 155, 155);
  opacity: 1.5s;
}
